body {
    display: grid;
    grid-template-areas: 
    "lateral cabecalho"
    "lateral principal";
    grid-template-columns: auto 1fr;
}

.cabecalho {
    grid-area: cabecalho;
}

.menu-lateral {
    grid-area: lateral;
}

.principal {
    grid-area: principal;
}